# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [186]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key
from pprint import pprint
# Configure gmaps
gmaps.configure(api_key=g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [194]:
file_path= os.path.join('../', 'WeatherPy/','weather_data_one.csv')
cities_df=pd.read_csv(file_path) 
cities_df=pd.read_csv(file_path, index_col=0)  
cities_df
#Note: index_col=False can be used to force pandas to not use the first column as the index, e.g. 
#when you have a malformed file with delimiters at the end of each line.

,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Port Alfred,-33.5906,26.8910,292.59,83,10,3.13,ZA,1611980608
1,Albany,42.6001,-73.9662,260.37,50,3,1.34,US,1611980400
2,Mehamn,71.0357,27.8492,269.52,96,100,8.58,NO,1611980609
3,Santa Cruz de Tenerife,28.4682,-16.2546,289.82,39,0,3.09,ES,1611980609
4,Suzuka,34.8833,136.5833,280.15,60,75,7.72,JP,1611980609
...,...,...,...,...,...,...,...,...,...
565,Basoko,1.2391,23.6160,295.59,90,90,1.36,CD,1611980726
566,Rio Pardo de Minas,-15.6097,-42.5397,290.94,93,26,2.07,BR,1611980727
567,Caconda,-13.7333,15.0667,286.95,94,96,1.20,AO,1611980727
568,Celestún,20.8667,-90.4000,293.49,77,5,6.17,MX,1611980727
569,Mana,5.6592,-53.7767,298.05,89,67,5.57,GF,1611980727

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [189]:
#Use Lat and Lon for locations
# weights equal to humidity
locations= cities_df[["Latitude", "Longitude"]]
weights=cities_df['Humidity'] #where is humidity most intense

In [190]:
fig = gmaps.figure()

In [191]:
fig=gmaps.figure()

heat_layer=gmaps.heatmap_layer(locations, weights=weights, 
                               dissipating=False, max_intensity=100,
                               point_radius=1)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [95]:
#Fill Nan values and convert to float
# rating= airport_df["Airport Rating"].astype(float)

In [192]:
#* Narrow down the DataFrame to find your ideal weather condition. For example:
#  * A max temperature lower than 80 degrees but higher than 70.
#  * Wind speed less than 10 mph.
#  * Zero cloudiness.

# Create a data frame using a list within cities_df. #A big filter
# cloudiness is equal to 15. 
# Wind speed is les than 10
# Max Temp is greater than 60 but less than 80 (2 calls)

result_df=cities_df[(cities_df['Cloudiness']==0)&(cities_df['Wind Speed']<10)&(cities_df['Max Temp']>60)&(cities_df['Max Temp']<80)]
result_df.head()
#print(ideal_weather_df)

# WHY WONT THIS SHOW RESULT_DF???

Empty DataFrame
Columns: [City, Latitude, Longitude, Max Temp, Humidity, Cloudiness, Wind Speed, Country, Date]
Index: []

In [193]:
# rank order cloud > wind> max temp,

cloud_filter=cities_df.loc[:, 'Cloudiness']<7
cloud_ideal=cities_df.loc[cloud_filter]
#cloud_ideal.head()
#cloudiness is number one preference

wind_filter=cloud_ideal.loc[:, 'Wind Speed']<25
wind_ideal=cloud_ideal.loc[wind_filter]
#wind_ideal

temp_filter=wind_ideal.loc[:, 'Max Temp']<300
temp_ideal=wind_ideal.loc[temp_filter, :]
temp_ideal

,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
1,Albany,42.6001,-73.9662,260.37,50,3,1.34,US,1611980400
3,Santa Cruz de Tenerife,28.4682,-16.2546,289.82,39,0,3.09,ES,1611980609
6,Yellowknife,62.4560,-114.3525,244.82,76,1,3.09,CA,1611980609
8,Tahoua,14.8888,5.2692,292.15,22,0,3.09,NE,1611980583
10,Coquimbo,-29.9533,-71.3436,290.15,82,0,1.54,CL,1611980610
...,...,...,...,...,...,...,...,...,...
548,Yozgat Province,39.5833,35.3333,268.70,87,0,2.48,TR,1611980721
554,Nampa,43.5407,-116.5635,275.15,93,1,3.08,US,1611980701
555,Kelo,9.3086,15.8066,291.83,23,0,2.58,TD,1611980723
559,Santa Cruz,30.4202,-9.5982,281.15,100,0,2.06,MA,1611980726
568,Celestún,20.8667,-90.4000,293.49,77,5,6.17,MX,1611980727

In [179]:
#cloud_ideal

In [180]:
#wind_ideal

In [181]:
#temp_ideal

In [182]:
#wind_speed_filter=cloud_ideal.loc[:, 'Wind Speed']<40
#wind_speed=wind_speed.loc[wind_speed_filter, :]
#wind_speed.head()

In [183]:
temp_ideal["Hotel Name"]= " "
hotel_df=pd.DataFrame(temp_ideal)
hotel_df.head()

<ipython-input-183-140c5fff181e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_ideal["Hotel Name"]= " "

,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
0,Iqaluit,63.7506,-68.5145,248.15,70,1,10.29,CA,1611974925,
2,Shawnee,39.0500,-95.7669,281.15,61,1,5.66,US,1611974925,
8,Paraná,-31.7320,-60.5238,298.15,79,6,0.89,AR,1611974926,
10,Chui,-33.6971,-53.4616,293.10,93,0,0.67,UY,1611974898,
16,Mataura,-46.1927,168.8643,294.53,36,0,0.42,NZ,1611974927,

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [184]:
#geocordinates
# how do you get the whole list?
target_coordinates= '63.7506, -68.5145'
target_search= 'Hotel'
target_radius= 5000
target_type='hotel' #can search and type be the same? they are different H vs h but not sure?
# set up a parameters dictionary
query_params= {
    "location": target_coordinates,
    "keyword": target_search,
    "radius" : target_radius,
    "type" : target_type,
    "key" : g_key
}
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
response=requests.get(base_url, params=query_params)
response #giving response 200

In [185]:
#https://maps.googleapis.com/maps/api/place/findplacefromtext/output?parameters

# required params: key, location, radius, (radius must not be included if rankby=distance)
# optional parms: keyword, langauge,

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure